
body > .menu-links  {
  pointer-events: all; 
}

body > .menu-links > .solarlink {  
  opacity: 1;
  transform: none;
  transition: opacity 600ms ease-in;  
}

.menu-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  inset: 0px;
  justify-content: center;
  position: absolute;
  z-index: 4;
}

 .solarlink {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: "Rubik", sans-serif;
  gap: 10px;
  opacity: 0;
  position: relative;
  text-decoration: none;
  transition: opacity 250ms ease-in;
  width: 200px;
}

 .solarlink:hover > .label {
  transform: translate3d(6%, 0px, 0px);
}

 .solarlink:hover > .index {
  transform: translate3d(20%, 0px, 0px);
}

 .solarlink:hover > .anchor:before {
  opacity: 0.15;
  transform: translate3d(-50%, -50%, 0px) scale(1.5);
}

 .solarlink:hover > .anchor:after {
  border-color: red;
  transform: translate3d(-50%, -50%, 0px) scale(1.1);
}

 .solarlink > .anchor {
  background-color: white;
  height: clamp(4px, 0.4vmax, 12px);
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translate3d(-500%, -100%, 0px) rotate(45deg);
  transition: transform 250ms;
  width: clamp(4px, 0.4vmax, 12px);
}

 .solarlink > .anchor:before,
 .solarlink > .anchor:after {
  content: "";
  height: 300%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  transition: transform 250ms, border-color 250ms;
  width: 300%;
}

 .solarlink > .anchor:before {
  border: 1px solid red;  
  opacity: 0;
}

 .solarlink > .anchor:after {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

 .solarlink > .index {
  color: rgb(255, 255, 255, 0.25);
  font-size: 0.8em;
  transition: transform 250ms;
}

 .solarlink > .label {
  color: white;
  font-size: 2em;
  transition: transform 250ms;
}

.cm-hmd-internal-link[data-link-data-href*="QUE"],
.markdown-preview-view a[href*="QUE"] {
  color: teal !important;
}

.cm-hmd-internal-link[data-link-data-href*="QUE"]::before,
.markdown-preview-view a[href*="QUE"]::before {
  content: "🔎 ";
}