
@keyframes arc-rotation {
  from {    transform: translate3d(-50%, -50%, 0px) rotate(0deg);  }
    to {    transform: translate3d(-50%, -50%, 0px) rotate(360deg);  }
}
 
 
#arcs {
  animation: arc-rotation 100s linear infinite;
  height: 222%;
  width: 222%;
  top: 0px;
  left: 0px;  
  position: absolute;
  will-change: transform;
  overflow: visible
  z-index: -2;
}

.arc {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-dasharray: 2,10;
  stroke-width: 1;
  z-index: -22;
}


:root {
  --background-dark: rgb(20, 20, 20);
  background-color: var(--background-dark);
}


body  {
  pointer-events: all; 
}

body > .menu-links > .solarlink {  
  opacity: 1;
  transform: none;
  transition: opacity 600ms ease-in;  
}

.menu-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  justify-content: center;
  position: relative;
  z-index: 0;
}

 .solarlink {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: "Rubik", sans-serif;
  gap: 10px;
  opacity: 1;
  position: relative;
  text-decoration: none;
  transition: opacity 250ms ease-in;
  width: 200px;
}

 .solarlink:hover > .label {
  transform: translate3d(6%, 0px, 0px);
}

 .solarlink:hover > .index {
  transform: translate3d(0%, 0px, 0px);
}

 .solarlink:hover > .anchor:before {
  opacity: 0.15;
  transform: translate3d(0%, 0%, 0px) scale(1.5);
}

 .solarlink:hover > .anchor:after {
  border-color: red;
  transform: translate3d(-50%, -50%, 0px) scale(1.1);
}

 .solarlink > .anchor {
  background-color: white;
  height: clamp(4px, 0.4vmax, 12px);
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translate3d(-500%, -100%, 0px) rotate(45deg);
  transition: transform 250ms;
  width: clamp(4px, 0.4vmax, 12px);
}

 .solarlink > .anchor:before,
 .solarlink > .anchor:after {
  content: "";
  height: 300%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  transition: transform 250ms, border-color 250ms;
  width: 300%;
}

 .solarlink > .anchor:before {
  border: 1px solid red;  
  opacity: 0;
}

 .solarlink > .anchor:after {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

 .solarlink > .index {
  color: rgb(255, 255, 255, 0.25);
  font-size: 0.8em;
  transition: transform 250ms;
}

 .solarlink > .label {
  color: white;
  font-size: 2em;
  transition: transform 250ms;
}









