
.theme-dark {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 50%);
}
.theme-light {
    background: radial-gradient(ellipse at bottom, #f2f2f2 0%, #fff2e6 50%);
}

.theme-light.theme-light {


    --color-accent: hsl(220, 91%, 54%);
    --color-accent-hsl: 220 91% 54%;
    --interactive-accent: hsl(197, 97%, 46%);

    --alt-heading-color: hsl(232 34% 50%);
    --secondary-accent: hsl(22, 99%, 52%);
    --hover-accent: hsl(356, 72%, 46%);
    --link-unresolved-color: hsl(101 42% 51%);
}

.theme-dark.theme-dark {
    --bg-hue: 240;
    --bg-sat: 21%;
    --bg-val: 15%; 

    --color-accent: hsl(67, 90%, 56%);
    --color-accent-hsl: 217 92% 76%;
    --interactive-accent: hsl(189, 71%, 73%)

    --alt-heading-color: hsl(232 50% 70%);
    --secondary-accent: hsl(23, 92%, 75%);
    --hover-accent: hsl(356, 72%, 46%);
    --link-unresolved-color: hsl(345, 100%, 16%);
}




