.theme-dark {
/*	--background-mcl-card: hsl(300, 5%, 15%); */
  --highlight-hue: 30;
  --bold-color: #a283ec;
  --italic-color: #98f8eb;
  --h1-color: #005af2;
  --h2-color: #d965e4;
  --h3-color: #e05b9e;
  --h4-color: #e96363;
  --h5-color: #ee7e51;
  --h6-color: #ecc68b;
}